_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Block our template!!
template.markdown
r2oscp_template.markdown

# Block specific writeups for NON Retired Boxes

# Block other items for now
*road-to-oscp*
about.markdown
